*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  place-items: center;
  display: grid;
  font-family: "Rubik", sans-serif;
}
.wrapper {
  height: 640px;
  width: 640px;
  border-radius: 50%;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#clock {
  z-index: 10;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  background: rgb(244, 244, 227);

  color: rgb(193, 185, 185);
  position: relative;
  border: 2px solid rgb(195, 195, 175);
}
#clock::after {
  content: "";
  position: absolute;
  background-color: #603808;
  z-index: 11;
  width: 28px;
  height: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

p {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 4.2rem;
  color: #603808;
}

#num1 {
  --rotation: 30deg;
}
#num2 {
  --rotation: 60deg;
}
#num3 {
  --rotation: 90deg;
}
#num4 {
  --rotation: 120deg;
}
#num5 {
  --rotation: 150deg;
}
#num6 {
  --rotation: 180deg;
}
#num7 {
  --rotation: 210deg;
}
#num8 {
  --rotation: 240deg;
}
#num9 {
  --rotation: 270deg;
}
#num10 {
  --rotation: 300deg;
}
#num11 {
  --rotation: 330deg;
}
.hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom left;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  border-radius: 10px;
}
#secondHand {
  width: 3px;
  height: 45%;
  background-color: #b08968;
  rotate: 0deg;
}
#minuteHand {
  width: 7px;
  height: 45%;
  background-color: #9c6644;
  rotate: 0deg;
}

#hourHand {
  width: 10px;
  height: 35%;
  background-color: #7f5539;
  rotate: 0deg;
}

.animate {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
